---
export interface Props {
	property ?: string;
	site ?: string;
}

const { property = '', site = '' } = Astro.props

const today = new Date();
---

<footer class="text-zinc-50 p-4 text-center"> 
	&copy; {today.getFullYear()} <a href={ site } >{ property }</a> All rights reserved.
</footer>
